<?php
/**
 * Professio_Inboxify extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.
 * It is also available through the world-wide-web at this URL:
 * https://gitlab.com/inboxify/inboxify-mag1/blob/master/LICENSE
 * 
 * @category       Professio
 * @package        Professio_Inboxify
 * @copyright      Copyright (c) 2016 - 2017
 * @license        https://gitlab.com/inboxify/inboxify-mag1/blob/master/LICENSE
 */

/**
 * Export page buttons
 * 
 * @category   Professio
 * @package    Professio_Inboxify
 */
?>
<div class="content-header">
    <h3 class="icon-head head-adminhtml-import"><?php echo $this->__('Inboxify Export') ?></h3>
    <p class="form-buttons">
        <button id="iy_export_customers" title="<?php echo $this->__('Export Customers') ?>" type="button" class="scalable save" onclick="window.location = '<?php print Mage::helper('adminhtml')->getUrl('adminhtml/inboxify/exportcustomers') ?>'; return false;">
            <span><span><span><?php echo $this->__('Export Customers') ?></span></span></span>
        </button>
        <button id="iy_export_customers_unreg" title="<?php echo $this->__('Export unregistered Customers') ?>" type="button" class="scalable save" onclick="window.location = '<?php print Mage::helper('adminhtml')->getUrl('adminhtml/inboxify/exportunregistered') ?>'; return false;">
            <span><span><span><?php echo $this->__('Export unregistered Customers') ?></span></span></span>
        </button>
        <button id="iy_export_subscribers" title="<?php echo $this->__('Export Newsletter Subscribers') ?>" type="button" class="scalable save" onclick="window.location = '<?php print Mage::helper('adminhtml')->getUrl('adminhtml/inboxify/exportsubscribers') ?>'; return false;">
            <span><span><span><?php echo $this->__('Export Newsletter Subscribers') ?></span></span></span>
        </button>
    </p>
</div>
