<?php
/**
 * Professio_Inboxify extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.
 * It is also available through the world-wide-web at this URL:
 * https://gitlab.com/inboxify/inboxify-mag1/blob/master/LICENSE
 * 
 * @category       Professio
 * @package        Professio_Inboxify
 * @copyright      Copyright (c) 2016 - 2017
 * @license        https://gitlab.com/inboxify/inboxify-mag1/blob/master/LICENSE
 */

/**
 * Newsletter subscription management
 * 
 * @category   Professio
 * @package    Professio_Inboxify
 */

if (!$this->getConfigHelper()->isAdvancedFrontendEnabled()) {
    return '';
}
?>

<div class="page-title">
    <h1><?php echo $this->__('Newsletter Subscription') ?></h1>
</div>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php echo $this->getChildHtml('form_before')?>

<form action="<?php echo $this->getAction() ?>" method="post" 
    id="form-validate">
    <div class="fieldset">
        <?php echo $this->getBlockHtml('formkey')?>
        <h2 class="legend">
            <?php echo $this->__('Newsletter Subscription') ?>
        </h2>
        <label for="inboxify-subscribe">
            <?php echo $this->__('Subscribed to newsletter?') ?> 
            <input id="inboxify-subscribe" name="inboxify_subscribe" 
                value="1" type="checkbox"
                <?php
                echo $this->isSubscribed() ? ' checked="checked"' : null
                ?>/>
        </label>
    </div>
    <div class="buttons-set">
        <p class="back-link">
            <a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>">
                <small>&laquo; </small><?php echo $this->__('Back') ?>
            </a>
        </p>
        <button type="submit" title="<?php echo $this->__('Save') ?>" 
            class="button">
            <span>
                <span><?php echo $this->__('Save') ?></span>
            </span>
        </button>
    </div>
</form>
<?php /* Extensions placeholder */ ?>
<?php echo $this->getChildHtml('inboxify.form.newsletter.extra')?>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
//]]>
</script>
