<?php
/**
 * Professio_Inboxify extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.
 * It is also available through the world-wide-web at this URL:
 * https://gitlab.com/inboxify/inboxify-mag1/blob/master/LICENSE
 * 
 * @category       Professio
 * @package        Professio_Inboxify
 * @copyright      Copyright (c) 2016 - 2017
 * @license        https://gitlab.com/inboxify/inboxify-mag1/blob/master/LICENSE
 */

/**
 * Subscription form
 * 
 * @category   Professio
 * @package    Professio_Inboxify
 */

if (!$this->getConfigHelper()->isAdvancedFrontendEnabled()) {
    return '';
}
?>

<div class="block block-inboxify block-subscribe 
    block-inboxify-subscribe">
    <div class="block-title">
        <strong><span><?php echo $this->__('Newsletter') ?></span></strong>
    </div>
    <form action="<?php echo $this->getFormActionUrl() ?>" method="post" 
        id="inboxify-subscribe">
        <div class="block-content">
            <div class="form-subscribe-header">
                <label for="newsletter">
                    <?php echo $this->__('Sign Up for Our Newsletter:') ?>
                </label>
            </div>
            <div class="input-box">
                <input type="text" name="email" id="newsletter" 
                    title="<?php echo $this->__('Sign up for Our newsletter') ?>" 
                    class="input-text required-entry validate-email" />
            </div>
            <div class="actions">
                <button type="submit" title="<?php echo $this->__('Subscribe') ?>" 
                    class="button">
                    <span>
                        <span><?php echo $this->__('Subscribe') ?></span>
                    </span>
                </button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var newsletterSubscriberFormDetail = 
            new VarienForm('inboxify-subscribe');
    //]]>
    </script>
</div>
