<?php
/**
 * Professio_Inboxify extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.
 * It is also available through the world-wide-web at this URL:
 * https://gitlab.com/inboxify/inboxify-mag1/blob/master/LICENSE
 * 
 * @category       Professio
 * @package        Professio_Inboxify
 * @copyright      Copyright (c) 2016 - 2017
 * @license        https://gitlab.com/inboxify/inboxify-mag1/blob/master/LICENSE
 */

/**
 * Inboxify customer form edit tab
 * 
 * @category   Professio
 * @package    Professio_Inboxify
 */
?>

<div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Newsletter Subscription') ?></h4>
    <div class="form-buttons"></div>
</div>
<div class="fieldset">
    <label for="inboxify-subscribe"><?php echo $this->__('Subscribed to newsletter?') ?> <input id="inboxify-subscribe" name="inboxify_subscribe" value="1" type="checkbox"<?php echo $this->isSubscribed() ? ' checked="checked"' : null ?> /></label>
</div>
