<?php
/**
 * Professio_Inboxify extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.
 * It is also available through the world-wide-web at this URL:
 * https://gitlab.com/inboxify/inboxify-mag1/blob/master/LICENSE
 * 
 * @category       Professio
 * @package        Professio_Inboxify
 * @copyright      Copyright (c) 2016 - 2017
 * @license        https://gitlab.com/inboxify/inboxify-mag1/blob/master/LICENSE
 */

/**
 * Subscription widget
 * 
 * @category   Professio
 * @package    Professio_Inboxify
 */

if (!$this->getConfigHelper()->isAdvancedFrontendEnabled()) {
    return '';
}

$style = $this->isSignupHidden() ? ' style="display: none"' : null;
$checked = $this->isSignupChecked() || $this->getFormData()->getIyIsSubscribed() ? ' checked="checked"' : null;
?>
<script type="text/javascript">
    var iy_li = '<li class="control"<?php print $style ?>>';
    iy_li += '<div class="input-box">';
    iy_li += '<input<?php print $checked ?> type="checkbox" name="iy_is_subscribed" title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1" id="iy_is_subscribed" class="checkbox" />';
    iy_li += '</div>';
    iy_li += '<label for="iy_is_subscribed"><?php echo $this->__('Sign Up for Newsletter') ?></label>';
    iy_li += '</li>';

    var iy_list = $$('#form-validate .form-list')[0];
    
    $(iy_list).insert(iy_li);
</script>
